.posts-list{
    width: 100%;
}

.post{
    margin-top: 3px;
    margin-bottom: 22px;
}

.white_button{
    margin-right: 10px;
    width: 55px;
    padding: 0px 8px 0px 8px;
}

.feed_announcer{
    color: var(--gray100);

    font-weight: var(--weight500);
    font-size: var(--size20);
    line-height: var(--line30);
}

.poster_name{
    color: var(--gray100);

    font-weight: var(--weight500);
    font-size: var(--size14);
    line-height: var(--line20);
}

.separator_content{
    margin-left: 30px;
    color: var(--gray300);
}

.post_data{
    margin-left: 30px;
    color: var(--gray300);

    font-weight: var(--weight500);
    font-size: var(--size14);
    line-height: var(--line20);
}

.post_title{
    margin-top: 25px;

    color: var(--gray100);

    font-weight: var(--weight600);
    font-size: var(--size24);
    line-height: var(--line36);
}

.post_summary{
    margin-top: 20px;

    color: var(--gray300);

    font-weight: var(--weight400);
    font-size: var(--size16);
    line-height: var(--size24);
}

.see_post{
    margin-top: 20px;

    color: var(--brand100);

    font-weight: var(--weight500);
    font-size: var(--size16);
    line-height: var(--size24);
}

.see_post:hover{
    cursor: pointer;

    color: var(--brand200);
}

.logout_phrase{
    border: none;
    background-color: transparent;
}

.logout_phrase:hover{
    cursor: pointer;
}

.create-post-container{
    margin-top: 65px;
    width: 100%;

    padding: 0px 500px;
}

.feed-separator-container{
    margin-top: 65px;
    width: 100%;
    height: 70px;

    background-color: var(--gray800);

    padding: 0px 500px;
} 

.posts-container{
    padding-top: 35px;
    width: 800px;
    margin:auto;
}

.change-post-container{
    margin-left: 320px;
}

.profile_img{
    margin-left: 15px;

    width: 40px;
    height: 40px;
}

.profile_img:hover{
    cursor: pointer;
}

#createPublication{
    width: max-content;
}

.menu-container{
    left: 72%;
    top: 11%;

    width: 215px;
    height: 120px;

    border: solid 2px var(--gray600);
    border-radius: 4px;
    background-color: var(--gray900);

    display: none;
}

.usuary-email{
    padding: 30px 0px 0px 25px;

    font-weight:var(--weight500);
    font-size:var(--size16);
    line-height:var(--line24);
}

.logout-account-container{
    cursor: pointer;

    margin-top: 8px;

    width: 100%;
    height: 60px;

    background-color: var(--gray900);
}

.logout_image{
    padding-left: 25px;     
}

.logout_phrase{
    margin-left: 20px;

    color: var(--gray400);

    font-weight:var(--weight500);
    font-size:var(--size14);
    line-height:var(--line20);
}

.logout-account-container:hover{
    background-color: var(--gray700);
}

.logout-account-container:hover > button{
    color: var(--gray100);
}

.appear-fixed{
    position: absolute;
    display: block;
}

.poster_img_profile{
    width: 40px;
    height: 40px;
}